.heading3Xl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: var(--matterColorLight);
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: var(--matterColorBright);
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  color: var(--matterColorBright);
}

.headingLg {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 1rem 0;
  color: var(--matterColorBright);
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--matterColorBright);
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.noBulletsList {
  list-style-type: none;
  padding-left: 0;
}

.staticPageSection {
  width: 90%;
  margin: 20px auto;
}

/* For SectionsTab and CategoriesTab components */

.tabRoot {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  padding: 0 10px;
  background-color: var(--matterColorNegative);
  border-radius: 30px;
}

.tabTitle {
  font-weight: 800;
  color: var(--matterColor);
}

.tabCurrent,
.tabLink {
  font-size: 1rem;
  margin-bottom: 10px;
}

.tabCurrent {
  font-weight: 700;
  color: var(--websiteMainColorDark);
}

.tabCurrent:hover {
  color: var(--websiteMainColorDark);
}

.icon {
  fill: var(--matterColorBright);
  stroke: var(--matterColorBright);
}

.buttonIcon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  padding-top: 5px;
}

.disabledOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .25;
  background-color: var(--matterColorDark);
  cursor: pointer;
}

.linkButton {
  /* Font */
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeightSemiBold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;

  /* Dimensions */
  display: block;
  width: 100%;
  min-height: 59px;
  margin: 0;

  /* Padding is only for <a> elements where button styles are applied,
      buttons elements should have zero padding */
  padding: 17px 0 17px 0;

  /* Borders */
  border: solid 2px var(--websiteMainColorLight);
  border-radius: 5px;

  /* Colors */
  background-color: var(--websiteBackgroundColor);
  color: var(--matterColorBright);

  /* Text */
  text-align: center;
  text-decoration: none;

  /* Effects */
  transition: all var(--transitionStyleButton);
  cursor: pointer;
}

.linkButton:hover,
.linkButton:focus {
  outline: none;
  background-color: var(--websiteMainColorLight);
  text-decoration: none;
  box-shadow: var(--boxShadowButton);
}

.linkButton:disabled {
  background-color: var(--matterColorNegative);
  color: var(--matterColorLight);
  cursor: not-allowed;
  box-shadow: none;
}


@media (--viewportMedium) {
  .staticPageSection {
    margin: 50px auto;
    width: 100vw;
    display: block;
    max-width: 993px;
    padding: 24px;
    border-radius: 30px;
  }

  .linkButton {
    min-height: 65px;
    padding: 20px 0 20px 0;
    font-size: 22px;
  }
}